.messenger{
    height: calc(100vh - 120px);
    display:flex;
    margin-top:110px;
    /* height:100%; */
    }
    
    .chatMenu{
    flex:3.5;
    }
    .chatMenuInput{
        width:90%;
        padding:10px 0;
        border:none;
        border-bottom:1px solid blue;
    
    }
    
    .chatBox{
    flex:5.5
    }
    
    .chatBoxWrapper{
        display:flex;
        flex-direction: column;
        position:relative;
    }
    .chatBoxTop{
        height:100%;
        overflow-y:scroll;
        padding-right:10px;
    }

    .chatBoxBottom{
    margin:8px;
    display :flex;
    align-items:center;
    justify-content:space-between;
    height:50px;
    
    }
    
    .chatMessageInput{
    width:85%;
    height:60px;
    padding:10px;
    border-radius:50px;
    }

    .chatSubmitButton{
    width:60px;
    height:40px;
    /* border:none; */
    border-radius:50px;
    background-color:#1877f5;
    color:white;
    padding-left: 5px;
    margin-right:10px;
    }

    .sendButton{
        width:50px;
        height:30px;
    }


    
    .chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper{
    padding : 10px;
    background-color: #white;
    height:100%;
    }

    .noConversationText{
    position:absolute;
    top : 10%;
    font-size: 40px;
    tex-align:center;
    cursor:default;
    color:#dee2e6;
    }
/* -----chatonline----------------------------------------------------- */
    

.chatOnline{
    flex:3;
margin:10px;
padding:5px;
border:2px solid #38e038;
}


.chatOnlineFriend{
    display:flex;
    align-items:center;
    text-align:center;
    font-weight:500;
    cursor: pointer;
}
.chatOnlineName{
    margin-top:0px;
    margin-left:10px;
}
.chatOnlineImgContainer{
position:relative;
}

.chatOnlineImg{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit: cover;
}

.chatOnlineBadge{
    with:10px;
    height:10px;
    border-radius:50%;
    background-color:limegreen;
    color:limegreen;
    position:absolute;
    top: 2px;
    left:30px;
}

/* ---conversation------------------------------------------------------------------------------ */

.conversation{
    display:flex;
    align-items:center;
    padding:10px;
    cursor: pointer;
    margin-top:20px;
    }
    .conversation:hover{
        background-color:#c7c7c7c9;
    }
    
    .conversationImg{
    width:40px;
    height: 40px;
    border-radius:50%;
    object-fit:cover;
    margin-right:20px;
    }
    
    .conversationName{
    font-weight:500;
    }
/* --message-------------------------------------------------------------------- */
.message{
    display:flex;
    flex-direction:column;
    margin-top:20px;
    }
    
    .messageTop{
        display:flex;
    }
    
    .messageImg {
        width : 32px;
        height:32px; 
        border-radius:50%;
        object-fit:cover;
        margin-right:10px;
        background-color:red;
    }
    
    .messageText{
        font-size:15px;
        border-radius: 20px;
        background-color:#1877f2;
        color: white;
        padding:7px;
        max-width: 300px;
    }
    
    .messageBottom{
        font-size:12px;
    
    }
    
    .message.own{
        align-items:flex-end;
    }
    
    .message.own .messageText{
        background-color: lightgray;
        color:black;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    












 
    
    
    
    
    
    
    
    
    
    
    
    
    
    