.login-container {
    display: flex;
    align-items: center;
    justify-content: center;    
    width:30%;
    background-color: rgb(29, 155, 240);
    margin-left:31%;
    border-radius:25px
    
  }

  .login-title {
    font-weight: 700;
    font-size: 1.5rem;
  }

.btn-register{
  background-color: #000000de; 
  margin-left:10px;
}

  .btn_submit{
    background-color: #100fffd9;
  }