/* .form-up-story{
    display:block;
    
    }

.form-up-story .form-group{
    display:block;

}
.form-up-story .form-up-story-left{

}
.title-form-up-story{

}
.avt-form-group img{
    width:85px;
    height:85px;
    border-radius:100%;
    margin-left:0px;
}
.form-up-story .form-up-story-right{

}

.form-up-story-right .input-story-text{

}
.form-up-story-right .choose-file{

}
.form-up-story-right .btn-submit{

} */