.homePage{
    display: flex;
    width: 100%;
    margin-top:30px;
    padding-left:10px
}
/* 
.list-topic{
    align-items:stretch;
    background-color:#f7f9f9;
    border-color:#f7f9f9;
    border-radius:25px;
    border-style:solid;
    border-width:1px;
    display:flex;
    flex-direction:column;
    font-size:15px;
    margin:0px 0px 16px;
    width:300px;
    height:300px;
    overflow-y:scroll;
}
.list-topic .navbar{
    border-radius:25px;
}
.navbar .form-search-topic{
margin-left:15px;
}
.form-search-topic svg{
margin-top:6px;
margin-left:2px;
width:25px;
height:25px;
}
.list-topic .topic-element{
    display:block
   
    border-radius:25px
}
.topic-element .btn-topic-element{
padding-top:10px;
padding-bottom:10px;
transition:0.45s;
}
.topic-element .btn-topic-element:hover{
    border:1px solid #f7f9f9 ;
    background-color:#3285ffbf;
    border-radius:25px;
    transform:translateY(-5px);
    -webkit-box-shadow: -7px 7px 14px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: -7px 7px 14px -3px rgba(0,0,0,0.5);
    box-shadow: -7px 7px 14px -3px rgba(0,0,0,0.5);

} */


.sidebar {
    width : 350px;
    /* flex: 3; */
    height: calc(100vh - 50px);
    /* position: sticky; */
    top: 50px;
  }
  .sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: scroll;
    height:400px;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
  }
  
  .sidebarWrapper {
    padding: 20px;
    width:350px;
  }
  

  
  .sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  
  .sidebarIcon {
    margin-right: 15px;
  }


/* --------------------------------------------------onlineUser */
.chatOnline{
width : 350px;
padding-left:25px;
}

.chatOnlineFriend{
    dispalay:flex;
    align-items:center;
    font-weight:500;
    cursor: pointer;
}

.chatOnlineImgContainer{
position:relative;
}

.chatOnlineImg{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit: cover;
}

.chatOnlineBadge{
    with:10px;
    height:10px;
    border-radius:50%;
    background-color:limegreen;
    color:limegreen;
    position:absolute;
    top: 2px;
    left:30px;
    

}
.chatOnlineName{

}

/* --------------------------------------------------Mid */

.midContent{
  padding: 10px;
}










